{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Nouvelle station{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle station de recharge</h1>
        <div class="page-form-edit">
            {{ include('admin/charging_station_form.html.twig',  {'button_label': 'Sauvegarder'}) }}
            <a href="{{ path('admin_charging_stations') }}">Retour sur les bornes</a>
        <div>
{% endblock %}
