{# This is the page that allows admins to see their informations requests #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Demandes d'informations{% endblock %}

{% block body %}
<h1>Demandes d'Informations</h1>

{% if contacts is not empty %}
    <ul>
    {% for contact in contacts %}
        <li>
            <a href="{{ asset(contact.pathname) }}" target="blank">{{ contact.filename }}</a>
            <form method="post" action="{{ path('admin_delete_contact', {'filename': contact.filename|url_encode}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce document?');">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucune demande d'informations</p>
{% endif %}
{% endblock %}
