{# This is the page that allows admins to see their estimates requests #}

{% extends 'admin/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin - Demandes de devis{% endblock %}

{% block body %}
<h1>Demandes de Devis</h1>

{% if estimates is not empty %}
    <ul>
    {% for estimate in estimates %}
        <li>
            <a href="{{ asset(estimate.pathname) }}" target="blank">{{ estimate.filename }}</a>
            <form method="post" action="{{ path('admin_delete_estimate', {'filename': estimate.filename|url_encode}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce document?');">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Aucune demande de devis</p>
{% endif %}
{% endblock %}
