/**
    For smartphones and tablets 
*/
body h1 {
    font-size: 40px;
    color:#00925b;
}

#our-actions h2 {
    color: rgba(75, 74, 74, 0.767);
    margin: 50px;
}

#our-actions ul li{
    list-style: none;
    margin : auto;
    width: 80%;
    text-align: justify;
    font-size: 25px;
}

#our-story h2 {
    color: rgba(75, 74, 74, 0.767);
    margin: 50px;
}

#our-story p {
    margin : auto;
    width: 80%;
    text-align: justify;
    font-size: 25px;
}

#our-team h2 {
    color: rgba(75, 74, 74, 0.767);
    margin: 50px;
}

.picture-team {
    width: 35vw;
    height: auto;
}

.team-pictures-container {
    text-align: center;
}

.picture-team-1 {
    margin-bottom: 70px;
}

.pictureTeam2 {
    margin-bottom: 70px;
}

figcaption {
    font-size: 25px;
}


/** 
    For computers 
*/
@media screen and (min-width: 1024px) {
    #our-actions ul li{
        font-size: 16px;
    }

    #our-story p {
        font-size: 16px;
    }

    .picture-team {
        width: auto;
        height: auto;
    }

    .team-pictures-container {
        display: grid;
        width: 80%;
        margin: auto;
    }

    .picture-team-1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .pictureTeam2 {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .pictureTeam3 {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    figcaption {
        font-size: 16px;
    }
}
