@import '~bootstrap/scss/bootstrap';

* {
    padding:0;
    margin:0;
}

html {
    padding-top: 120px;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

header, main {
    width: 80%;
    margin: auto;
}

main {
    min-height: 100vh;
}

/*Form connexion*/
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.form-login .form-control {
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login img {
    width: 72px;
    height: 72px;
}

.btn-form {
    margin-top: 10px;
}

@media screen and (min-width: 1024px) {
    html {
        padding-top: 100px;
    }
}
