@import '~bootstrap/scss/bootstrap';

* {
    padding:0;
    margin:0;
}

html {
    padding-top: 90px;
}

header, main {
    width: 80%;
    margin: auto;
}

main {
    min-height: 100vh;
}

@media screen and (min-width: 1024px) {
    html {
        padding-top: 100px;
    }
}
