.navbar {
    list-style-type: none;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F4F5F6;
}

.logoMobilean {
    height: auto;
    width: 10vh;
}

.nav-link {
    color:#00925b !important;
    font-size: 3em;
    padding: 0.5em;
    margin-left: 3em;
}

.nav-link:hover {
    color: rgba(75, 74, 74, 0.767) !important;
   
}

footer {
    width: 100%;
    margin-top: 4rem;
    background-color: #F4F5F6;
    min-height: 100%;
}

footer .nav-link-footer {
    color:#00925b;
    margin: 10em;
}

.row-footer {
    margin-bottom: 10px;
}

.row-image {
    padding-bottom: 10px;
}

footer img {
    width: 60%;
    height: auto;
}

/* For computers */
@media screen and (min-width : 1024px) {
    .nav-link {
        color:#00925b;
        font-size: 1em;
    }

    .logoMobilean {
        height: auto;
        width: 8vw;
    }

    footer {
        bottom: 0;
        width: 100%;
        margin-top: 4rem;
        background-color: #F4F5F6;
    }
}
