/**
    For smartphones and tablets
*/

/* Icons */

.presentation-rental {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}

.Offerpresentation{
    font-size: 40px;
    color:#00925b;
}

.vehicle-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding-bottom: 4%;
}

.vehicle-list li:nth-child(2) {
    font-weight: bold;
}

.vehicle-list-gas {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vehicle-list-gas li:nth-child(2) {
    font-weight: bold;
}

.vehicle-image {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-leaves {
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-shadow: 4px 4px 4px 1px gray;
    border-radius: 50%;
    margin-bottom: 5%;
}

.refillstation-picture {
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-shadow: 4px 4px 4px 1px gray;
    border-radius: 50%;
    margin-bottom: 5%;
}

.picturegas {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.vehicle-detail-left{
    font-size: 30px;
}

.vehicle-detail-center {
    font-size: 30px;
}

.vehicle-detail-right {
    font-size: 30px;
}

/* Articles */

.presentation-container {
    margin-top: 100px;
    width: 100%;
    height: auto;
    align-items: center;
}

.presentation-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 20px;
}

.presentation-first-text {
    margin: auto; 
    text-align: justify;
    font-size: 25px;
}

.presentation-first-text h2{
    color:#00925b;
}

.presentation-second-text {
    margin: auto; 
    text-align: justify;
    font-size: 25px;
}

.presentation-second-text h2{
    color:#00925b;
}

/* Carousel */
.section-vehicle{
    background-color:#f4f5f6;
    padding-bottom: 40px;
 }

.vehicle-type {
    margin-top: 200px;
    font-size: 40px;
    color:#00925b;
    text-align: center;
    background-color: #f4f5f6;
}

.carousel {
    margin: auto;
    background-color: #F2F4F1;
}

.carousel-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
    filter: invert(100%);
}

.carousel-inner {
    width: 70vw;
    height: 25vh;
    padding: 0;
    margin: auto;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-inner h4 {
    text-align: center;
}

/** 
    For computers 
*/

@media screen and (min-width: 1024px) {


    .presentation-container {
        display: flex;
        margin-top: 100px;
    }

    .presentation-first-text {
        flex: 4;
        margin: auto; 
        padding-right: 4em;
        text-align: justify;
        font-size: 16px; 
    }

    .presentation-second-text {
        flex: 4;
        margin: auto; 
        padding-left: 4em;
        text-align: justify;
        font-size: 16px; 
        order: 1; 
    }

    .presentation-picture {
        width: 40%;
        height: 100%;
        object-fit: contain;
        margin-top: 20px;
    }
}
/** 
    For computers
*/

@media screen and (min-width: 1025px) {
    .vehicle-lg {
        display: flex;
        justify-content: space-around;
        padding: 5% 0;
    }

    .vehicle-list {
        list-style: none;
        padding-bottom: 1%;
    }

    .vehicle-list-gas {
        list-style: none;
        margin-left: 10%;
    }

    .carousel-inner {
        width: 900px;
        height: 500px;
    }
}
