#formPartner {
    background-color:#f4f5f6;
    box-shadow: 2px 2px 2px 1px gray;
    padding: 10px;
}

#formPartner button {
    color:#00925b;
    background-color:#f4f5f6;
    cursor:pointer;
    padding:5px;
    box-shadow: 2px 2px 2px 1px gray;
    border-radius:5px;
    margin-bottom: 20px;
    font-size: 20px;
}

#formPartner button:hover {
    color: #DCDCDC;
    background-color: #00925b;
}
