/**
    For smartphones and tablets 
*/
.presentation-text {
    margin: 50px 0;
    padding: 10px;
    text-align: justify;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
    font-size: 25px;
}

.stationpage-title{
    font-size: 30px;
    color:#00925b;
}

.station-title{
    margin-top: 50px;
    font-size: 30px;
    color:#00925b;
    text-align: center;
}

.station-description{
    text-align: center;
    font-size: 25px;
}

.station-block {
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    margin: auto;
    border: 2px solid #BDC1BC;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray,
    -1px -1px 2px white;
    background-color: #F2F4F1;
    width: 90%;
}

.station-img {
    width: 50%;
}

.station-details-title {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color:#00925b;
}

.table th, .table td {
    font-size: 25px;
}

.station-request-button {
    border: 1px solid #999;
    padding: 20px 20px;
    border-radius:5px;
    box-shadow: 2px 2px 2px 1px gray;
    background:#fff;
    color:#00925b;
    font-size: 20px;
    background-color:#f4f5f6;
    align-items: center;
    display: block;
    margin: 15px auto;
    cursor:pointer;
}

.station-request-button:hover {
    color: #DCDCDC;
    background-color: #00925b;
}

.taille {
    font-size: 25px;
}

/** 
    For computers 
*/
@media screen and (min-width: 1024px) {
    .presentation-text {
        font-size: 16px;
    }

    .station-description{
        font-size: 16px;
    }

    .table th, .table td {
        font-size: 16px;
    }
}
