{# This is the base that all other views will extend #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}" />
    <title>{% block title %}Mobilean{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <header>
    {% block navbar %}
    {% endblock %}
    </header>

    <main>
    {% block body %}
    {% endblock %}
    </main>

    <footer>
    {% block footer %}
    {% endblock %}
    </footer>
    {% block javascript %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
