{# This is the page that will display a form for users contact Mobilean #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block body %}

<div id="formContact">
    <h1>Contactez-Nous</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Valider</button>
    {{ form_end(form) }}
</div>
{% endblock %}
