{# This is the page that will display legal notices #}

{% extends 'front/front_layout.html.twig' %}

{% block title %}Mentions Légales - {{ parent() }}{% endblock %}

{% block body %}
<h1>Mentions Légales</h1>

{% for legalMention in legalMentions %}
<h2>{{ legalMention.title }}</h2>
<p>{{ legalMention.article }}</p>
{% endfor %}

{% endblock %}
